.item-container{
  position: relative;
  padding-top: 120px;

  img{
    height: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.item{
  background-image: linear-gradient(to right,#FFE1C6, #FFCB05);
  border-radius: 20px;
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  
  div{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
  }
}